include LICENSE
include README.md
include workflow/Snakefile
include workflow/config.yaml
include requirements-dev.txt

recursive-include photon_mosaic *.py

exclude .pre-commit-config.yaml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *
recursive-exclude tests *
