include LICENSE
include README.md
include workflow/Snakefile
exclude .pre-commit-config.yaml

recursive-include calcium_imaging_automation *.py
recursive-include examples *.py
recursive-include workflow *.yaml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *
recursive-exclude tests *
recursive-exclude examples *.sh
